<!DOCTYPE html>

<html>
    <head></head>
    <body>
        <h1>Edit Reviews page</h1>
        <form action= "/review/<%=review.id%>?_method=PUT"  method="POST">
            Name: <input type="text" name="name" value="<%=review.name%>"/>
            <!-- location: <input type="text" name="location" value="google api"/> -->
            Is the Machine working?: 
            <input type="checkbox" name="machineWorking" 
                <% if (review.machineWorking === true) { %>
                    checked
                <% } %>
                />
                
            <input type ="submit" value ="Edit Reviews"/>
    </form>
    </body>
</html>