<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Black+Ops+One|Luckiest+Guy|Sonsie+One|Shojumaru&effect=3d|3d-float|anaglyph|brick-sign|canvas-print|
            crackle|decaying|destruction|distressed|distressed-wood|emboss|fire|fire-animation|fragile|grass|ice|mitosis|neon|outline|putting-green|
            scuffed-steel|shadow-multiple|splintered|static|stonewash|vintage|wallpaper' 
            rel='stylesheet' type='text/css'>

<html>
    <head></head>
    <body>
        <h1>Edit Reviews page</h1>
        <form action= "/review/<%=review.id%>?_method=PUT"  method="POST">
            Name: <input type="text" name="name" value="<%=review.name%>"/>
            <!-- location: <input type="text" name="location" value="google api"/> -->
            Is the Machine working?: 
            <input type="checkbox" name="machineWorking" 
                <% if (review.machineWorking === true) { %>
                    checked
                <% } %>
                />
                
            <input type ="submit" value ="Edit Reviews"/>
    </form>
    </body>
</html>