<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome page</title>
</head>
<body class="welcomebackground">
    <h1 class="welcometitle"> Welcome </h1>

    <div class="welcomemessage">
        welcome message here
    </div>
    
    <nav class="welcomenav">
        <a href="/users/signup" class="welcomelinks">Sign Up</a> 
        <a href="/users/login" class="welcomelinks">Log In</a>
    </nav>
</body>
</html>