<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>New review page</h1>

    <form action='/review'method='POST'>
        Name: <input type="text" name="username" />
        What frozen treat did you get/try to get?: <input type='text' name= 'name'/>
        <!-- location: <input type = 'text' name = 'location'/> -->
        Is the machine working?: <input type = 'checkbox' name = 'machineWorking'/>
        <input type ='submit' value= 'Post your review'/>
    </form>
    
</body>
</html>