<!DOCTYPE html>
<html>
    <head></head>

    <body>
        <h1>Reviews Show Page</h1>

         <%=review.name%> 
        <%if (review.machineWorking === true) { %>
            Shake machine is working.
        <% } else { %>
            Shake is not working.
        <% } %>
        <br>
        Review added by <%=review.username%>
    </body>
</html>

<style>
    
</style>