<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Black+Ops+One|Luckiest+Guy|Sonsie+One|Shojumaru&effect=3d|3d-float|anaglyph|brick-sign|canvas-print|
            crackle|decaying|destruction|distressed|distressed-wood|emboss|fire|fire-animation|fragile|grass|ice|mitosis|neon|outline|putting-green|
            scuffed-steel|shadow-multiple|splintered|static|stonewash|vintage|wallpaper' 
            rel='stylesheet' type='text/css'>

    </head>

    <body class= "showpagebackground">
        <h1>Reviews Show Page</h1>

         <%=review.name%> 
        <%if (review.IceAvailable === true) { %>
            Shake machine is working.
        <% } else { %>
            Shake machine is not working.
        <% } %>
        <br>
        Review added by <%=review.username%>
    </body>
</html>

<style>
    
</style>