<!DOCTYPE html>
<html>
    <head>
        <title>Reviews Show Page</title>
        <meta charset="utf-8">
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Black+Ops+One|Luckiest+Guy|Sonsie+One|Shojumaru&effect=3d|3d-float|anaglyph|brick-sign|canvas-print|
            crackle|decaying|destruction|distressed|distressed-wood|emboss|fire|fire-animation|fragile|grass|ice|mitosis|neon|outline|putting-green|
            scuffed-steel|shadow-multiple|splintered|static|stonewash|vintage|wallpaper' 
            rel='stylesheet' type='text/css'>

    </head>

    <body class= "showpagebackground">
        <!-- <span class="font-effect-shadow-multiple" style="font-size:50px; font-family:Luckiest Guy;">Here's more info</span> -->
        <br><br>

        <div class="showinfo">
            <%=review.name%> 
            <%if (review.IceAvailable === true) { %>
                 machine is working.
            <% } else { %>
                 machine is not working.
            <% } %>
            <br>
            Review added by <%=review.User.username%>
        </div>
        <br><br>
        <div class="showpagesignout">
            <a href="/users/logout" class="logoutlink">Signout</a>  
        </div>

    </body>


</html>

