<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/css/style.css" rel="stylesheet" type="text/css" />

    </head>

    <body class= "showpagebackground">
        <h1>Reviews Show Page</h1>

         <%=review.name%> 
        <%if (review.IceAvailable === true) { %>
            Shake machine is working.
        <% } else { %>
            Shake machine is not working.
        <% } %>
        <br>
        Review added by <%=review.username%>
    </body>
</html>

<style>
    
</style>