<!DOCTYPE html>
<html>
    <head></head>

    <body>
        <h1>Reviews Show Page</h1>

         <%=review.name%> 
        <%if (review.machineWorking === true) { %>
            Ice cream machine is working.
        <% } else { %>
            Ice cream machine is not working.
        <% } %
        <br>
        Review added by <%=review.User.name%>
    </body>
</html>