.welcomenav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 50px;
    margin-top: 2%;
    /* font-family: 'font-effect-shadow-multipl', cursive; */
    
}    

.welcomemessage {
    font-family: 'Dosis', sans-serif;
    font-size: 37px;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    flex-wrap: wrap;
    line-height: 1em;
    margin-left: 60%;
    margin-right: 2%;
    color:red
  
  }

  .landingbackground {
    background-image: url('SIgnup--shutterstock_585448250.jpg');
    background-size: 125%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .signuppage {
    background-image: url('NewUserSignup-shutterstock_1101399728.jpg');
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .signupinstructions {
    color:aqua;
    font-size: 40px;
    /* font-family: 'Dancing Script', cursive; */
    width: 50%;
    text-align: center;
    margin: 2.5%
  }

  .Loginbackground {
    background-image: url('fastfood-loginshutterstock_1221898288.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Loginform {
    color:goldenrod;
    font-size: 50px;
    margin-left: 5%;
    margin-top: 5%;
    line-height: .5;
  }


  .profilebackground {
    background-image: url('Profile-shutterstock_1101399728 (1).jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  } 

  .Reviewbackground {
    background-image: url('reviewpage-neon-shutterstock_1184207302.jpg');
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    background-size: cover;
  } 
  .showpagebackground {
    background-image: url('show review-shakemachine-shutterstock_1092191015.jpg');
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    background-size: cover;
  } 