.welcomenav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 50px;
    margin-top: 2%;
    /* font-family: 'font-effect-shadow-multipl', cursive; */
    
}    

h1 {

  font-family: 'Luckiest Guy', cursive;
  font-weight: 100;
  color:rgb(153, 32, 153),
}

.welcomemessage {
    font-family: 'Dosis', sans-serif;
    font-size: 37px;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    flex-wrap: wrap;
    line-height: 1em;
    margin-left: 60%;
    margin-right: 2%;
   
  
  }

  .landingbackground {
    background-image: url('SIgnup--shutterstock_585448250.jpg');
    background-size: 125%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .signuppage {
    background-image: url('NewUserSignup-shutterstock_1101399728.jpg');
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .signupinstructions {
    color:aqua;
    font-size: 40px;
    /* font-family: 'Dancing Script', cursive; */
    width: 50%;
    text-align: center;
    margin: 2.5%
  }

  
  .Loginbackground {
    background-image: url('NewUserSignup-shutterstock_1101399728.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
   
  }
  .Loginform {
    color:aquamarine;
    font-size: 50px;
    margin-left: 5%;
    margin-top: 5%;
    line-height: .5;
  }

  a{
    color:hotpink;
  
  }

  li{
    color:aqua
  }

.showinfo{
  color:rgb(160, 6, 6);
  font-size: 50px;
  font-weight: bolder;
  opacity: 1.0;
}
 
.showpagesignout{
  color: aqua;
  
}
  
  

  .profilebackground {
    background-image: url('fastfood-loginshutterstock_1221898288.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  } 

  .Reviewbackground {
    background-image: url('mcdys-backgroundshutterstock_784728106 (1).jpg');
     background-attachment: fixed;
    background-repeat: no-repeat;
     background-size: cover;
    position: absolute;
    top:0px;
    right:0px;
    left:0px;
    opacity: 1.0;
    
  } 

  .editbackground {
    background-color: steelblue;
    background-image: url('reviewpage-neon-shutterstock_1184207302.jpg');
    background-size: 2300px;
    background-attachment: fixed; 
    background-repeat: no-repeat;
     /* background-size: cover; */
    /* position: absolute;
    top:0px;
    right:0px;
    left:0px;
    opacity: 1.0;  */
    
  } 

  .reviewcontainer{
    /* display:flex;
    /* align-items: center; */
    /* justify-content: center;
    margin: 50; */
    /* width:100px; */
    height:100px;
    position: absolute;
    left:50%;
    margin-left:-50px;
    margin-top: 200px;

  }

  .newreviewlink{
    height:100px;
    position: absolute;
    left:50%;
    margin-left:-50px;
   
  }

  h3{
    font-size: 20px;
  }


  .showpagebackground {
    background-image: url('show pg image-shutterstock_1768890320.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  } 

  .newreviewbackground {
    background-image: url('fastfood-loginshutterstock_1221898288.jpg');
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    background-size: cover;
  } 



