.welcomenav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 50px;
    margin-top: 2%;
    
}    

.welcomemessage {
    font-family: 'Dosis', sans-serif;
    font-size: 37px;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    flex-wrap: wrap;
    line-height: 1em;
    margin-left: 60%;
    margin-right: 2%;
    color:red
  
  }

  .landingbackground {
    background-image: url('SIgnup--shutterstock_585448250.jpg');
    background-size: 125%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }