<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Black+Ops+One|Luckiest+Guy|Sonsie+One|Shojumaru&effect=3d|3d-float|anaglyph|brick-sign|canvas-print|
            crackle|decaying|destruction|distressed|distressed-wood|emboss|fire|fire-animation|fragile|grass|ice|mitosis|neon|outline|putting-green|
            scuffed-steel|shadow-multiple|splintered|static|stonewash|vintage|wallpaper' 
            rel='stylesheet' type='text/css'>

    <title>Homepage</title>
</head>
<body class="landingbackground">
    

    <div class="welcomemessage">
        <span class="font-effect-3d" style="font-size:40px; font-family:Sonsie One; color:lemonchiffon; "><h1>Where's</h1> <br> <br>
        </span>
            <br> 
        <span class="font-effect-3d" style="font-size:40px; font-family:Sonsie One;color:chocolate "><h1>My</h1></span> 
        <span class="font-effect-3d" style="font-size:40px; font-family:Sonsie One; color:pink "><h1>Shake!?</h1></span>
        <h3>
        Welcome to Where's my Shake. An app designed to help keep you from hearing the dreaded and infamous line of, "Our shake machine isn't working". View in real time others who
        visit a location and verify a working shake machine.
        </h3>  
    </div>


    <nav class="welcomenav">
        <h1 style="font-size:50px; text-decoration:underline; "><a href="/auth/signup">Sign Up</a></h1>
        <h1 style="font-size:50px; text-decoration:underline;"><a href="/auth/login">Log In</a>
        </h1>
    </nav>
</body>
</html>