<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Black+Ops+One|Luckiest+Guy|Sonsie+One|Shojumaru&effect=3d|3d-float|anaglyph|brick-sign|canvas-print|
            crackle|decaying|destruction|distressed|distressed-wood|emboss|fire|fire-animation|fragile|grass|ice|mitosis|neon|outline|putting-green|
            scuffed-steel|shadow-multiple|splintered|static|stonewash|vintage|wallpaper' 
            rel='stylesheet' type='text/css'>

    </head>
    <body class="Loginbackground"> <span class="font-effect-shadow-multiple" style="font-size:50px; font-family:Luckiest Guy;">   
             <h1>Welcome Back!</h1>
    </span>

        <div class="Loginform">
            <form action='/auth/login' method="POST">
                <span class="font-effect-shadow-multiple" style="font-size:40px; font-family:Luckiest Guy;">Username: <input type="text" name="username" /></span>
                <!-- Username: <input type="text" name="username" /> <br> <br> -->
                <span class="font-effect-shadow-multiple" style="font-size:40px; font-family:Luckiest Guy;">Password: <input type="text" name="password" /></span>
                <!-- Password: <input type="text" name="password" /><br> <br> -->
                <input type="submit" value="Login"/>
            </form>
        </div>
    </body>
</html>